---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";

export const getStaticPaths = (async () => {
	const posts = await getCollection("blog");

	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: post,
	}));
}) satisfies GetStaticPaths;

const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout>
	<section class="section-post">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="post-component">
						<div class="post-content">
							<div
								class="caption text-color-gradient"
								transition:name={`post-date-${post.id}`}
							>
								{post.data.pubDate}
							</div>
							<div class="space-small"></div>
							<h1
								class="heading-style-h3"
								transition:name={`post-title-${post.id}`}
							>
								{post.data.title}
							</h1>
							<div class="space-medium"></div>
							<div
								class="text-size-medium text-color-grey-400"
								transition:name={`post-description-${post.id}`}
							>
								{post.data.description}
							</div>
							<div class="space-medium"></div>
							<a href="/blog" class="button white-icon w-inline-block">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/63713c580d7d56d05f9d3400_chevron-white-left.svg"
									loading="lazy"
									alt=""
									class="icon-small"
								/>
								<div>Back to Blog</div>
							</a>
						</div>
						<div class="post-image-wrapper">
							<img
								transition:name={`post-image-${post.id}`}
								alt={post.data.title}
								loading="lazy"
								src={post.data.heroImage}
								class="image"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-post-body">
		<div class="padding-global">
			<div class="container-small">
				<div class="padding-section-medium">
					<div class="rich-text w-richtext">
						<Content />
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="horizontal-line"></div>
	<section class="section-other-posts">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="other-posts-component">
						<div class="other-posts-header">
							<div class="max-width-medium">
								<h2 class="text-color-black">Lastest Articles</h2>
								<div class="space-small"></div>
								<div class="text-color-grey">
									Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Suspendisse varius enim in eros elementum tristique.
								</div>
							</div>
							<a href="/blog" class="button w-button">See All Articles</a>
						</div>
						<div class="w-dyn-list">
							<div role="list" class="blog-grid w-dyn-items">
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/the-apps-i-love-the-most-for-design-and-productivity"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												alt=""
												loading="lazy"
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8628732872a39069a1f_laptop-blue.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												October 25, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												The apps I love the most for design and productivity
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/how-mobile-apps-help-in-digital-transformation-of-businesses"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												alt=""
												loading="lazy"
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8582a3c8284d65654da_mobile-blue.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												September 28, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												How mobile apps help in Digital Transformation of
												Businesses
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
								<div role="listitem" class="w-dyn-item">
									<a
										href="/post/why-digital-audio-devices-are-important-for-designers"
										class="blog-item w-inline-block"
									>
										<div class="blog-item-image-wrapper">
											<img
												alt=""
												loading="lazy"
												src="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods.jpg"
												sizes="(max-width: 479px) 93vw, (max-width: 767px) 96vw, (max-width: 991px) 45vw, (max-width: 1919px) 30vw, 448px"
												srcset="https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods-p-500.jpg 500w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods-p-800.jpg 800w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods-p-1080.jpg 1080w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods-p-1600.jpg 1600w, https://assets.website-files.com/6364e2710bb372fbb357f912/6364e8fdd010ce39938c320f_airpods.jpg 1920w"
												class="image"
											/>
										</div>
										<div class="blog-item-content">
											<div class="text-size-small text-color-grey">
												August 11, 2022
											</div>
											<h3 class="heading-style-h5 text-color-black">
												Why digital audio devices are important for designers
											</h3>
											<div class="text-color-grey">
												Lorem ipsum dolor sit amet, consectetur adipiscing elit.
												Praesent ipsum arcu, tempor semper vulputate ut,
												volutpat eget ex.
											</div>
											<div class="button icon" style="color: rgb(12, 17, 31);">
												<div>Read more</div>
												<img
													src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5189614b61860455e35_arrow-right.svg"
													loading="lazy"
													alt=""
													class="icon-small"
													style="transform: translate3d(0rem, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;"
												/>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
