---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import right_arrow from "../../assets/icons/arrow-right.svg";

export const getStaticPaths = (async () => {
	const posts = await getCollection("blog");

	return posts.map((post) => ({
		params: {
			slug: post.slug,
		},
		props: post,
	}));
}) satisfies GetStaticPaths;
const blogPosts = await getCollection("blog");
const post = Astro.props;
const { Content } = await post.render();
---

<MainLayout>
	<section class="section-post">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="post-component">
						<div class="post-content">
							<div
								class="caption text-color-gradient"
								transition:name={`blog-post-date-${post.id}`}
							>
								{post.data.pubDate}
							</div>
							<div class="space-small"></div>
							<h1
								class="heading-style-h3"
								transition:name={`blog-post-title-${post.id}`}
							>
								{post.data.title}
							</h1>
							<div class="space-medium"></div>
							<div
								class="text-size-medium text-color-grey-400"
								transition:name={`blog-post-description-${post.id}`}
							>
								{post.data.description}
							</div>
							<div class="space-medium"></div>
							<a href="/blog" class="button white-icon w-inline-block">
								&lAarr;
								<div>Back to Blog</div>
							</a>
						</div>
						<div class="post-image-wrapper">
							<img
								transition:name={`blog-post-image-${post.id}`}
								alt={post.data.title}
								loading="lazy"
								src={post.data.heroImage}
								class="image"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-post-body">
		<div class="padding-global">
			<div class="container-small">
				<div class="padding-section-medium">
					<div class="rich-text w-richtext">
						<Content />
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="horizontal-line"></div>
	<section class="section-other-posts">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="other-posts-component">
						<div class="other-posts-header">
							<div class="max-width-medium">
								<h2 class="text-color-black">Lastest Articles</h2>
								<div class="space-small"></div>
								<div class="text-color-grey">
									Discover our latest articles—insightful reads spanning tech,
									lifestyle, and trending discussions. Stay informed and
									engaged!
								</div>
							</div>
							<a href="/blog" class="button w-button">See All Articles</a>
						</div>
						<div class="w-dyn-list">
							<div role="list" class="blog-grid w-dyn-items">
								{
									blogPosts.map((post) => {
										return (
											<div role="listitem" class="w-dyn-item">
												<a
													href={`/blog/${post.slug}/`}
													class="blog-item w-inline-block"
												>
													<div class="blog-item-image-wrapper">
														<img
															transition:name={`post-image-${post.id}`}
															alt={post.data.title}
															loading="lazy"
															src={post.data.heroImage}
															class="image"
														/>
													</div>
													<div class="blog-item-content">
														<div
															class="text-size-small text-color-grey"
															transition:name={`post-name-${post.id}`}
														>
															{post.data.pubDate}
														</div>
														<h3
															class="heading-style-h5 text-color-black"
															transition:name={`post-title-${post.id}`}
														>
															{post.data.title}
														</h3>
														<div
															class="text-color-grey"
															transition:name={`post-description-${post.id}`}
														>
															{post.data.description}
														</div>
														<div
															class="button icon"
															style="color: rgb(12, 17, 31);"
														>
															<div>Read more</div>
															<img
																class="icon-small"
																loading="lazy"
																src={right_arrow.src}
																alt="Right Arrow"
															/>
														</div>
													</div>
												</a>
											</div>
										);
									})
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
