---
import { getCollection } from "astro:content";
import TechLogos from "../components/TechLogos";
import MainLayout from "../layouts/MainLayout.astro";

// LOAD IMAGES
import upwork_icon from "../assets/icons/upwork.svg";
import freelancer_vector from "../assets/freelancer.svg";
import rob_sandars_pic from "../assets/rob-sandars.webp";
import david_dav_pic from "../assets/david-dav.webp";
import bill_johnson_pic from "../assets/bill-jhonson.webp";
import right_arrow from "../assets/icons/arrow-right.svg";
import stars from "../assets/star.svg";
import rafal_pic from "../assets/rafal.jpg";
import shaine_pic from "../assets/shaine.jpg";

// RENDER CONTENTS
const posts = await getCollection("project");
const blogPosts = await getCollection("blog");
---

<MainLayout>
	<section class="section-header">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="header-component">
						<div class="max-width-medium full-width-tablet">
							<div class="caption text-color-secondary">
								Hi, I'm Mehedi Hasan
							</div>
							<h1 class="heading-style-h2">
								WordPress developer | React JS | MERN Stack
							</h1>
							<div class="space-medium"></div>
							<div class="text-size-medium text-color-grey-400">
								Design and code nicely simple things, And I love what I do.
							</div>
							<div class="space-medium"></div>
							<a
								href="https://www.upwork.com/freelancers/~01e0d306e3c729d12e"
								class="button w-button"
							>
								Hire Me
								<img
									height="20"
									width="20"
									src={upwork_icon.src}
									alt="at Upwork"
								/>
							</a>
						</div>
						<div class="header-image-wrapper">
							<img
								src={freelancer_vector.src}
								loading="lazy"
								alt="Freelancer"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="about" class="section-home-about">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="home-about-component">
						<div class="home-about-image-wrapper">
							<div class="tech-logos-bg"></div>
							<TechLogos client:visible />
						</div>
						<div class="home-about-content">
							<div class="caption text-color-secondary">About</div>
							<div class="space-small"></div>
							<h2 class="heading-style-h2">Little more about me.</h2>
							<div class="space-medium"></div>
							<div class="text-size-medium text-color-grey-400">
								<p>
									Hey! My name is Mehedi Hasan and I'm a UX Enthusiast with
									skills in Front-End and WordPress Development. Since beginning
									my journey as a freelance designer nearly 6 years ago.
								</p>
								<p>
									I've done remote work for agencies, consulted for startups,
									and collaborated with talented people to create digital
									products for both business and consumer use.
								</p>
								<p>
									When I'm not on the computer, I enjoy reading books, swimming,
									and petting animals.
								</p>
							</div>
							<div class="space-medium"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="Services" class="section-services">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="max-width-large">
						<div class="caption text-color-secondary">Services</div>
						<div class="space-small"></div>
						<h2>Discover my unique skillset</h2>
						<div class="space-medium"></div>
						<div class="text-color-grey-400">
							Check out my services that will suit your needs.
						</div>
					</div>
					<div class="space-large"></div>
					<div class="services-component">
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba518094146ff4802d7b1_blue-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83ea918984d96338d3e_search-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">UX Research</h3>
								<div class="text-color-grey-400">
									I do UX research to provide an Up to Date user experience to
									my client. And it's a crucial aspect of the design process.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5194ef05a41047d2efc_purple-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83ea62e06890baa590c_design-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Design</h3>
								<div class="text-color-grey-400">
									I value simple content structure, clean design patterns, and
									thoughtful interactions.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba518094146ff4802d7b1_blue-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83e58f7603323ad6098_code-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Development</h3>
								<div class="text-color-grey-400">
									I like to code things from scratch, and enjoy bringing ideas
									to life in the browser.
								</div>
							</div>
						</div>
						<div class="services-wrapper">
							<div class="services-arrow-wrapper">
								<img
									src="https://assets.website-files.com/634d6064d1c6401d462f6757/635ba5194ef05a41047d2efc_purple-arrow.svg"
									loading="lazy"
									alt=""
								/>
							</div>
							<div class="services-content">
								<div class="services-image-wrapper">
									<img
										data-aos="fade-left"
										src="https://assets.website-files.com/634d6064d1c6401d462f6757/636cc83fca23fde186e9871d_message-icon.svg"
										loading="lazy"
										alt=""
									/>
								</div>
								<h3 class="heading-style-h5">Support</h3>
								<div class="text-color-grey-400">
									I provide my Clients full support on their bussiness issue
									relevent to my knowledge and skills.
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-projects">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="container-small">
						<div class="text-align-center">
							<h2>My Projects</h2><div class="space-small"></div><div
								class="text-color-grey-400"
							>
								Dynamic projects, blending creativity and functionality. Explore
								my portfolio for a glimpse into versatile designs that leave a
								lasting impression.
							</div>
						</div>
					</div><div class="space-large"></div><div class="w-dyn-list">
						<div role="list" class="projects-component w-dyn-items">
							{
								posts.map((post) => {
									return (
										<div role="listitem" class="w-dyn-item">
											<a
												data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b64"
												style={`background-image:url('${post.data.heroImage}')`}
												href={`/project/${post.slug}/`}
												class="projects-item w-inline-block"
											>
												<div
													data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b65"
													class="projects-overlay"
												>
													<div class="projects-title" style="">
														{post.data.title}
													</div>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b67"
														class="projects-top-horizontal-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b68"
														class="projects-top-vertical-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b69"
														class="projects-bottom-horizontal-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b6a"
														class="projects-bottom-vertical-line"
													/>
												</div>
											</a>
										</div>
									);
								})
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-testimonials">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="max-width-large">
						<div class="caption text-color-secondary">Testimonials</div>
						<div class="space-small"></div>
						<h2>What people say</h2>
						<div class="space-medium"></div>
						<div class="text-color-grey-400">
							Explore glowing client feedback in my Testimonials section,
							showcasing successful collaborations and satisfied partners.
							Discover the impact of my work.
						</div>
					</div>
					<div class="space-large"></div>
					<div class="testimonials-component">
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Mehedi did an excellent job on my WordPress project,
									showcasing his skills in both PHP and WordPress. His expertise
									was evident, and he delivered outstanding results. I'm highly
									pleased with his work!”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={david_dav_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">David Dav</div>
										<div class="text-size-small text-color-grey-400">
											United States
										</div>
									</div>
								</div>
							</div>

							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Hands down, one of the best freelancers I have worked with.
									Highly recommend to anyone.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={bill_johnson_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Bill Johnson</div>
										<div class="text-size-small text-color-grey-400">
											CEO, Evanrise
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“I am delighted to share my fantastic experience working with
									Mehedi for mobile edits. His willingness to go the extra mile
									to ensure the job is executed impeccably is truly impressive.
									Not only is he skilled in editing, but his valuable
									suggestions also add an extra layer of expertise to the
									project.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={shaine_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Shine Coronel</div>
										<div class="text-size-small text-color-grey-400">
											Singapore
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Perfect work and communication. I recommend work with this
									Upwork user”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rafal_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“I had the pleasure of working with Mehedi recently, and I
									must say, it was an absolute delight! Mehedi's communication
									was superb, understanding my requirements perfectly.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rafal_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Mehedi has been amazing. This is the 3rd project that we've
									worked together on and he has delivered every time. Highly
									recommend.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rob_sandars_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rob Sander's</div>
										<div class="text-size-small text-color-grey-400">
											Socially Found
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="container-small">
						<div class="text-align-center">
							<div class="caption">blog</div><div class="space-small"></div><h2
								class="text-color-black"
							>
								My Articles
							</h2><div class="space-small"></div><div class="text-color-grey">
								Explore my diverse portfolio articles—insightful reflections on
								technology, design, and creativity. Delve into my work, journey,
								and experiences, showcasing a blend of innovation and passion in
								every piece.
							</div>
						</div>
					</div><div class="space-large"></div><div class="container-large">
						<div class="w-dyn-list">
							<div role="list" class="blog-grid w-dyn-items">
								{
									blogPosts.map((post) => {
										return (
											<div role="listitem" class="w-dyn-item">
												<a
													href={`/blog/${post.slug}/`}
													class="blog-item w-inline-block"
												>
													<div class="blog-item-image-wrapper">
														<img
															transition:name={`post-image-${post.id}`}
															alt={post.data.title}
															loading="lazy"
															src={post.data.heroImage}
															class="image"
														/>
													</div>
													<div class="blog-item-content">
														<div
															class="text-size-small text-color-grey"
															transition:name={`post-name-${post.id}`}
														>
															{post.data.pubDate}
														</div>
														<h3
															class="heading-style-h5 text-color-black"
															transition:name={`post-title-${post.id}`}
														>
															{post.data.title}
														</h3>
														<div
															class="text-color-grey"
															transition:name={`post-description-${post.id}`}
														>
															{post.data.description}
														</div>
														<div
															class="button icon"
															style="color: rgb(12, 17, 31);"
														>
															<div>Read more</div>
															<img
																class="icon-small"
																loading="lazy"
																src={right_arrow.src}
																alt="Right Arrow"
															/>
														</div>
													</div>
												</a>
											</div>
										);
									})
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
