---
import { getCollection } from "astro:content";
import MouseTracker from "../components/MouseTracker.tsx";
import MainLayout from "../layouts/MainLayout.astro";

// LOAD IMAGES
import bill_johnson_pic from "../assets/bill-jhonson.webp";
import david_dav_pic from "../assets/david-dav.webp";
import right_arrow from "../assets/icons/arrow-right.svg";
import rafal_pic from "../assets/rafal.jpg";
import rob_sandars_pic from "../assets/rob-sandars.webp";
import shaine_pic from "../assets/shaine.jpg";
import stars from "../assets/star.svg";

// Service section icons

import About from "../sections/About.astro";
import Experiance from "../sections/Experiance.astro";
import Hero from "../sections/Hero.astro";

// RENDER CONTENTS
const posts = await getCollection("project");
const blogPosts = await getCollection("blog");
---

<MainLayout>
	<!-- Mouse over animation -->

	<MouseTracker client:load />
	<Hero />
	<About />
	<Experiance />


	<section class="section-projects">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="container-small">
						<div class="text-align-center">
							<h2>My Projects</h2><div class="space-small"></div><div
								class="text-color-grey-400"
							>
								Dynamic projects, blending creativity and functionality. Explore
								my portfolio for a glimpse into versatile designs that leave a
								lasting impression.
							</div>
						</div>
					</div><div class="space-large"></div><div class="w-dyn-list">
						<div role="list" class="projects-component w-dyn-items">
							{
								posts.map((post) => {
									return (
										<div role="listitem" class="w-dyn-item">
											<a
												data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b64"
												style={`background-image:url('${post.data.heroImage}')`}
												href={`/project/${post.slug}/`}
												class="projects-item w-inline-block"
											>
												<div
													data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b65"
													class="projects-overlay"
												>
													<div class="projects-title" style="">
														{post.data.title}
													</div>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b67"
														class="projects-top-horizontal-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b68"
														class="projects-top-vertical-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b69"
														class="projects-bottom-horizontal-line"
													/>
													<div
														data-w-id="450459d4-86eb-2e07-9d58-3bc8cf7f4b6a"
														class="projects-bottom-vertical-line"
													/>
												</div>
											</a>
										</div>
									);
								})
							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-testimonials">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="max-width-large">
						<div class="caption text-color-secondary">Testimonials</div>
						<div class="space-small"></div>
						<h2>What people say</h2>
						<div class="space-medium"></div>
						<div class="text-color-grey-400">
							Explore glowing client feedback in my Testimonials section,
							showcasing successful collaborations and satisfied partners.
							Discover the impact of my work.
						</div>
					</div>
					<div class="space-large"></div>
					<div class="testimonials-component">
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Mehedi did an excellent job on my WordPress project,
									showcasing his skills in both PHP and WordPress. His expertise
									was evident, and he delivered outstanding results. I'm highly
									pleased with his work!”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={david_dav_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">David Dav</div>
										<div class="text-size-small text-color-grey-400">
											United States
										</div>
									</div>
								</div>
							</div>

							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Hands down, one of the best freelancers I have worked with.
									Highly recommend to anyone.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={bill_johnson_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Bill Johnson</div>
										<div class="text-size-small text-color-grey-400">
											CEO, Evanrise
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“I am delighted to share my fantastic experience working with
									Mehedi for mobile edits. His willingness to go the extra mile
									to ensure the job is executed impeccably is truly impressive.
									Not only is he skilled in editing, but his valuable
									suggestions also add an extra layer of expertise to the
									project.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={shaine_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Shine Coronel</div>
										<div class="text-size-small text-color-grey-400">
											Singapore
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Perfect work and communication. I recommend work with this
									Upwork user”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rafal_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="testimonials-row">
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“I had the pleasure of working with Mehedi recently, and I
									must say, it was an absolute delight! Mehedi's communication
									was superb, understanding my requirements perfectly.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rafal_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rafal Morawisky</div>
										<div class="text-size-small text-color-grey-400">
											CEO, ksiegowosc24
										</div>
									</div>
								</div>
							</div>
							<div class="testimonials-wrapper" data-aos="fade-up">
								<img src={stars.src} loading="lazy" alt="" />
								<div>
									“Mehedi has been amazing. This is the 3rd project that we've
									worked together on and he has delivered every time. Highly
									recommend.”
								</div>
								<div class="testimonials-item-grid">
									<div class="testimonials-image-wrapper">
										<img
											src={rob_sandars_pic.src}
											loading="lazy"
											alt=""
											class="image"
										/>
									</div>
									<div>
										<div class="testimonials-name">Rob Sander's</div>
										<div class="text-size-small text-color-grey-400">
											Socially Found
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section-blog">
		<div class="padding-global">
			<div class="container-large">
				<div class="padding-section-medium">
					<div class="container-small">
						<div class="text-align-center">
							<div class="caption">blog</div><div class="space-small"></div><h2
								class="text-color-black"
							>
								My Articles
							</h2><div class="space-small"></div><div class="text-color-grey">
								Explore my diverse portfolio articles—insightful reflections on
								technology, design, and creativity. Delve into my work, journey,
								and experiences, showcasing a blend of innovation and passion in
								every piece.
							</div>
						</div>
					</div><div class="space-large"></div><div class="container-large">
						<div class="w-dyn-list">
							<div role="list" class="blog-grid w-dyn-items">
								{
									blogPosts.map((post) => {
										return (
											<div role="listitem" class="w-dyn-item">
												<a
													href={`/blog/${post.slug}/`}
													class="blog-item w-inline-block"
												>
													<div class="blog-item-image-wrapper">
														<img
															transition:name={`post-image-${post.id}`}
															alt={post.data.title}
															loading="lazy"
															src={post.data.heroImage}
															class="image"
														/>
													</div>
													<div class="blog-item-content">
														<div
															class="text-size-small text-color-grey"
															transition:name={`post-name-${post.id}`}
														>
															{post.data.pubDate}
														</div>
														<h3
															class="heading-style-h5 text-color-black"
															transition:name={`post-title-${post.id}`}
														>
															{post.data.title}
														</h3>
														<div
															class="text-color-grey"
															transition:name={`post-description-${post.id}`}
														>
															{post.data.description}
														</div>
														<div
															class="button icon"
															style="color: rgb(12, 17, 31);"
														>
															<div>Read more</div>
															<img
																class="icon-small"
																loading="lazy"
																src={right_arrow.src}
																alt="Right Arrow"
															/>
														</div>
													</div>
												</a>
											</div>
										);
									})
								}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</MainLayout>
